/*@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    /*font-family: "Archivo", sans-serif;*/
    font-family: 'Libre Baskerville', serif;
}

/* HEADER BEGIN */
header {
    background-color: rgba(165, 160, 160, 0.747);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    width: 45px;
    height: auto;
    margin: 8px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.navbar li {
    list-style: none;
    margin: 8px;
    padding-right: 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: #FFF;
}

/* HEADER END */

/* MAIN BEGIN */

main {
    /* Calcula a altura do main com 100vh menos a altura da navbar, que é 61.91px */
    height: calc(100vh - 61.91px);
    background-color: rgb(223, 194, 98);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GAMEBOARD BEGIN */

.gameboard {
    width: 717px;
    height: 543px;
    /*background-color: #FFF;*/
    background-image: url(../img/stage_01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* WALL-STATIC BEGIN */

.breakable-wall {
    position: absolute;
    width: 43px;
    height: 43px;
    background-image: url(../img/breakable-wall_old.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
}

/* WALL-STATIC END */

/* BOMBERMAN BEGIN */

.bomberman {
    position: absolute;
    background-image: url(../img/bomberman_front.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: #000;*/
    width: 43px;
    height: 71px;
    left: 84px;
    top: 8px;
}

/* BOMBERMAN END */

/* GAMEBOARD END */

/* MAIN END */