@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

@font-face {
    font-family: Bomberman;
    src: url(../font/bomberman.TTF)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    /*font-family: "Archivo", sans-serif;*/
    font-family: 'Libre Baskerville', serif;
}

/* HEADER BEGIN */
header {
    background-image: linear-gradient(to bottom, rgba(0, 17, 255, 0.699), rgb(58, 130, 224), rgb(103, 168, 228));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    height: 45px;
    margin: 8px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.navbar li {
    list-style: none;
    margin: 8px;
    padding-right: 15px;
    font-weight: bold;
}

.navbar a {
    font-family: Bomberman, sans-serif;
    color: rgb(17, 52, 167);
    letter-spacing: 2px;
    font-size: 1.5rem;

}

.navbar a:hover {
    color: #fff;
    
    /*-webkit-text-stroke: 0.3px rgb(17, 52, 167);*/
}

/* HEADER END */

/* MAIN BEGIN */

main {
    /* Calcula a altura do main com 100vh menos a altura da navbar, que é 61.91px */
    height: calc(100vh - 61.91px);
    background-color: #10101a;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GAMEBOARD BEGIN */

.gameboard {
    width: 717px;
    height: 543px;
    /*background-color: #FFF;*/
    background-image: url(../img/stage_01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*position: relative;*/
    position: absolute;

    border-radius: 10px;
    border: 3px solid rgb(17, 52, 167);

}

/* WALL BEGIN */

.breakable-wall {
    position: absolute;
    width: 43px;
    height: 43px;
    /*background-image: url(../img/breakable-wall_old.png);*/
    background-image: url(../img/wall-tree.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
}

.wall-explosion {
    animation: wallExplosion 1s;
}

@keyframes wallExplosion{
    0% {
        background-image: url(../img/bomb/wall-explosion-01.png);
    }
    20% {
        background-image: url(../img/bomb/wall-explosion-02.png);
    }
    40% {
        background-image: url(../img/bomb/wall-explosion-03.png);
    }
    60% {
        background-image: url(../img/bomb/wall-explosion-04.png);
    }
    80% {
        background-image: url(../img/bomb/wall-explosion-05.png);
    }
    100% {
        background-image: url(../img/bomb/wall-explosion-06.png);
    }
}

/* WALL END */

/* BOMB BEGIN */

.bomb {
    position: absolute;
    background-image: url(../img/bomb/bomb_01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: #000;*/
    width: 43px;
    height: 43px;
    left: 84px;
    top: 8px;
    z-index: 99;
}

.explosion {
    position: absolute;
    /*background-image: url(../img/bomb/bomb_explosion.png);
    /*background-position: -0px 0px;
    background-repeat: no-repeat;*/
    width: 43px;
    height: 43px;
    z-index: 9999;

    overflow: hidden;
}

.explosion-center {
    left: 168px;
    top: 82px;
}

.explosion-right {
    left: 208px; /* 206 + 2 */
    top: 82px;
}

.explosion-left {
    left: 128px; /* 126 + 2 */
    top: 82px;
}

.explosion-up {
    left: 167px; /* 168 - 1 */
    top: 42px;
}

.explosion-down {
    left: 166px; /* 168 - 2 */
    top: 122px;
}

.explosion-img {
    position: relative;
    top: 0px;
    animation-name: bombExplosion;
    animation-duration: 1s;
    animation-timing-function: linear;
    /*animation-iteration-count: infinite;*/
}

.explosion-center-img {
    top: 0px;
}

.explosion-right-img {
    top: -43px;
}

.explosion-down-img {
    top: -88px;
}

.explosion-up-img {
    top: -128px;
}

.explosion-left-img {
    top: -172px;
}

/*.bomb-explosion-center {
    animation-name: bombExplosionCenter;
    animation-duration: 3s;
    animation-timing-function: linear;
    
}*/

@keyframes bombExplosion{
    /*0% {
        /*background-position: 0px 0px;
    }*/
    
    0% { left: 0px; }
    25% { left: 0px }
    26% { left: -43px }
    50% { left: -43px }
    51% { left: -86px }
    75% { left: -86px }
    76% { left: -129px }
    100% { left: -129px }
}

/* BOMB END */

/* BOMBERMAN BEGIN */

.bomberman {
    position: absolute;
    background-image: url(../img/bomberman/bomberman_front_01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: #000;*/
    width: 43px;
    height: 71px;
    left: 84px;
    top: 8px;
    z-index: 999;
}

.bomberman-death {
    animation: bombermanDeath 3s;
}

@keyframes bombermanDeath{
    0% {
        background-image: url(../img/bomberman/bomberman_death_01.png);
    }
    20% {
        background-image: url(../img/bomberman/bomberman_death_02.png);
    }
    40% {
        background-image: url(../img/bomberman/bomberman_death_03.png);
    }
    60% {
        background-image: url(../img/bomberman/bomberman_death_04.png);
    }
    80% {
        background-image: url(../img/bomberman/bomberman_death_05.png);
    }
    100% {
        background-image: url(../img/bomberman/bomberman_death_06.png);
    }
}

.walk-right {
    animation: walkRight 300ms ease-in-out;
}

@keyframes walkRight{
    0% {
        /*left: 100px;*/
        background-image: url(../img/bomberman/bomberman_right_01.png);
    }
    40% {
        /*left: 100px;*/
        background-image: url(../img/bomberman/bomberman_right_02.png);
    }
    50% {
        /*left: 108px;*/
        background-image: url(../img/bomberman/bomberman_right_03.png);
    }
    60% {
        /*left: 117px;*/
        background-image: url(../img/bomberman/bomberman_right_04.png);
    }
    100% {
        /*left: 126px;*/
        background-image: url(../img/bomberman/bomberman_front_01.png);
    }
}

.bomb-expand {
    animation: bombExpand 3s;
}

@keyframes bombExpand{
    0% {
        background-image: url(../img/bomb/bomb_02.png);
    }
    20% {
        background-image: url(../img/bomb/bomb_03.png);
    }
    40% {
        background-image: url(../img/bomb/bomb_02.png);
    }
    60% {
        background-image: url(../img/bomb/bomb_01.png);
    }
    80% {
        background-image: url(../img/bomb/bomb_02.png);
    }
    100% {
        background-image: url(../img/bomb/bomb_03.png);
    }
}



/* BOMBERMAN END */

/* GAMEBOARD END */

/* MODAL BEGIN */

.modal {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*overflow: auto;*/
    background: rgba(0,0,0,0.8);
    /*opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;*/
  }

  /*.modal:target {
    opacity: 1;
    pointer-events: auto;
  }*/

  .modal .content {
    background-color: #000000;
    margin: 40vh auto;
    padding: 20px;
    border: 5px solid rgba(155, 153, 153, 0.884);
    border-radius: 5px;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    /*width: 120px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;*/
}

.modal h2{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(185, 11, 11);
}

.modal button {
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    background-color: rgba(8, 134, 65, 0.842);
}

.modal button:hover {
    color: rgba(8, 134, 65, 0.842);
    background-color:  white;
}

/* MODAL END */

/* MAIN END */