@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    /*font-family: "Archivo", sans-serif;*/
    font-family: 'Libre Baskerville', serif;
}

/* HEADER BEGIN */
header {
    background-color: rgba(165, 160, 160, 0.747);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    width: 45px;
    height: auto;
    margin: 8px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.navbar li {
    list-style: none;
    margin: 8px;
    padding-right: 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: #FFF;
}

/* HEADER END */

/* MAIN BEGIN */

main {
    /* Calcula a altura do main com 100vh menos a altura da navbar, que é 61.91px */
    height: calc(100vh - 61.91px);
    background-color: rgb(223, 194, 98);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GAMEBOARD BEGIN */

.gameboard {
    width: 717px;
    height: 543px;
    /*background-color: #FFF;*/
    background-image: url(../img/stage_01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* WALL-STATIC BEGIN */

.breakable-wall {
    position: absolute;
    width: 43px;
    height: 43px;
    /*background-image: url(../img/breakable-wall_old.png);*/
    background-image: url(../img/wall-tree.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
}

/* WALL-STATIC END */

/* BOMB BEGIN */

.bomb {
    position: absolute;
    background-image: url(../img/bomb_01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: #000;*/
    width: 43px;
    height: 43px;
    left: 84px;
    top: 8px;
    z-index: 99;
}

/* BOMB END */

/* BOMBERMAN BEGIN */

.bomberman {
    position: absolute;
    background-image: url(../img/bomberman_front.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: #000;*/
    width: 43px;
    height: 71px;
    left: 84px;
    top: 8px;
    z-index: 999;
}

/* BOMBERMAN END */

/* GAMEBOARD END */

/* MODAL BEGIN */

.modal {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*overflow: auto;*/
    background: rgba(0,0,0,0.8);
    /*opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;*/
  }

  /*.modal:target {
    opacity: 1;
    pointer-events: auto;
  }*/

  .modal .content {
    background-color: #000000;
    margin: 40vh auto;
    padding: 20px;
    border: 5px solid rgba(155, 153, 153, 0.884);
    border-radius: 5px;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    /*width: 120px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;*/
}

.modal h2{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(185, 11, 11);
}

.modal button {
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    background-color: rgba(8, 134, 65, 0.842);
}

.modal button:hover {
    color: rgba(8, 134, 65, 0.842);
    background-color:  white;
}

/* MODAL END */

/* MAIN END */